PHYSICAL_DEPLOYMENT_ALLOWED=false
ALLOW_PUSH=0
ALLOW_LARGE_MODELS=0
ALLOW_EXTERNAL_LLM=0

REFLECT_REMOTE_ENABLED=0
REFLECT_REMOTE_HOST=
REFLECT_REMOTE_HOST_ALLOWLIST=
REFLECT_REMOTE_WORKDIR=
REFLECT_REMOTE_GPU_HOURS_MAX=0
REFLECT_REMOTE_WALL_HOURS_MAX=0
REFLECT_REMOTE_DOWNLOAD_GB_MAX=0
REFLECT_REMOTE_ARTIFACT_GB_MAX=0
